@model QuanLyLopTinChi.Models.BuoiHoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>BuoiHoc</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IdBuoiHoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdBuoiHoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LopMonHoc.TenLopMonHoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LopMonHoc.TenLopMonHoc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayHoc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayHoc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
