@model QuanLyLopTinChi.Models.DanhSach

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DanhSach</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdLopMonHoc, "LopMonHoc")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdLopMonHoc", String.Empty)
            @Html.ValidationMessageFor(model => model.IdLopMonHoc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IdNguoiDung, "NguoiDung")
        </div>
        <div class="editor-field">
            @Html.DropDownList("IdNguoiDung", String.Empty)
            @Html.ValidationMessageFor(model => model.IdNguoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiemChuyenCan)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiemChuyenCan)
            @Html.ValidationMessageFor(model => model.DiemChuyenCan)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiemThuongXuyen)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DiemThuongXuyen)
            @Html.ValidationMessageFor(model => model.DiemThuongXuyen)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
