@{
    ViewBag.Title = "Kết Quả Thêm Vào Danh Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="name">
    <span class="name_cont">
        <a href="#">
            Kết Quả Thêm Sinh Viên Vào Lớp
        </a>
    </span><span class="name_last">&nbsp;</span>
</h2>
<div class="bor pad-sml">
    <h3 class="name">Thành công</h3>
    <table>
        <tr id="rowHeaderTableThanhCong">
            <th>
                @Html.ActionLink("Mã Sinh Viên", "KetQuaThemVaoDanhSach", new { sortOrder = ViewBag.MaSortParm })
            </th>
            <th>
                @Html.ActionLink("Họ Tên", "KetQuaThemVaoDanhSach", new { sortOrder = ViewBag.TenSortParm })
            </th>
            <th>
                @Html.ActionLink("Ngày Sinh", "KetQuaThemVaoDanhSach", new { sortOrder = ViewBag.NgaySinhSortParm })
            </th>
            <th>
                @Html.ActionLink("Lớp", "KetQuaThemVaoDanhSach", new { sortOrder = ViewBag.LopSortParm })
            </th>
            <th>
                Trạng Thái
            </th>
        </tr>

        @foreach (var item in (List<QuanLyLopTinChi.Models.DanhSach>)ViewBag.ListDanhSachThanhCong)
        {
            <tr>
                <td>
                    @item.NguoiDung.UserName
                </td>
                <td>
                    @item.NguoiDung.HoTen
                </td>
                <td>
                    @item.NguoiDung.NgaySinh
                </td>
                <td>
                    @item.NguoiDung.DonViQuanLy.TenDonViQuanLy
                </td>
                <td>
                    Thêm Thành Công
                </td>
            </tr>
        }
    </table>
</div>

<div class="bor pad-sml">
    <h3 class="name">Thất Bại</h3>
    <table>
        <tr id="rowHeaderTableThatBai">
            <th>
                @Html.ActionLink("Mã Sinh Viên", "KetQuaThemVaoDanhSach", new { sortOrder = ViewBag.MaThatBaiSortParm })
            </th>
            <th>
                @Html.ActionLink("Mô Tả Trạng Thái", "KetQuaThemVaoDanhSach", new { sortOrder = ViewBag.MoTaThatBaiSortParm })
            </th>
        </tr>

        @foreach (var item in (List<QuanLyLopTinChi.Controllers.DanhSachThemThatBai>)ViewBag.ListDanhSachThatBai)
        {
            <tr>
                <td>
                    @item.MaNguoiDung
                </td>
                <td>
                    @item.MoTa
                </td>
            </tr>
        }
    </table>
</div>