@model QuanLyLopTinChi.Models.BaiLam

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>BaiLam</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NguoiDung.DuongDanAnh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NguoiDung.DuongDanAnh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BaiTap.TenBaiTap)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BaiTap.TenBaiTap)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TaiLieu.DuongDan)
    </div>
    <div class="display-field">
        @Html.ActionLink(@Model.TaiLieu.TenTaiLieu,
                            "DownloadTaiLieu",
                            "TaiLieu",
                            new { TenTaiLieu = @Model.TaiLieu.DuongDan },
                            null)@Html.DisplayFor(model => model.TaiLieu.DuongDan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NhanXet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NhanXet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Diem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Diem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NopMuon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NopMuon)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayNop)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayNop)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
